<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= @custom_project.contact_name %> has submitted a new custom project</h1>
  <p>
    To view the project, go to: <%= admin_custom_project_url(@custom_project) %>.
  </p>
</body>
</html>
